{% extends layout %}

{% block content %}

  <div class="page-header">
    <h1><img src="{{ page.picture.url }}">&nbsp;{{ page.name }}<small>&nbsp;Fanpage <a href="{{ page.link }}">{{ page.username }}</a></h1>
    <p class="lead">{{ page.about }}</p>
  </div>

  <h2>Fans: {{ page.fan_count|number_format(0, '.', ' ') }}</small></h2>

  <img src="{{ page.cover.source }}">
  <br />
  <a href="{{ page.website }}"> {{ page.name }}'s website</a>
  <hr />

  <canvas id="myChart" width="400" height="400"></canvas>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|json_encode()|raw }},
            datasets: [
            {
                label: 'Posts',
                data: {{ posts|json_encode() }},
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1
            },
            {
                label: 'Likes',
                data: {{ likes|json_encode() }},
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            },
            {
                label: 'Comments',
                data: {{ comments|json_encode() }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                label: 'Comments likes',
                data: {{ commentslikes|json_encode() }},
                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            },
            {
                label: 'Shares',
                data: {{ shares|json_encode() }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            },
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Activity stats per user'
            },
            scales: {
                yAxes: [{
                    stacked: true,
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    stacked: true,
                    ticks: {
                        autoSkip: false,
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>

{% endblock %}
