{% extends layout %}

{% block content %}

  <form class="form-inline" action="/" method="post">
    <div class="form-group">
      <input type="text" id="inputHelpBlock" name="username" class="form-control" aria-describedby="helpBlock" value="{{ page.username }}" placeholder="Type a page username or ID">
    </div>

    <div class="form-group">
      <input class="form-control" type="date" id="x" name="xAgo" value="{{ xAgo|date("Y-m-d") }}"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">Analyze from this date</button>
    </div>

    <br />

    <div class="form-group">
        Weights for:
        <label for="postWeight">post</label>
        <select id="postWeight" name="post" class="form-control">
          <option{% if weights.post == 1%} selected{% endif %}>1</option>
          <option{% if weights.post == 2%} selected{% endif %}>2</option>
          <option{% if weights.post == 3%} selected{% endif %}>3</option>
        </select>
        <label for="commentWeight">comment</label>
        <select id="commentWeight" name="commentWeight" class="form-control">
          <option{% if weights.comment == 1%} selected{% endif %}>1</option>
          <option{% if weights.comment == 2%} selected{% endif %}>2</option>
          <option{% if weights.comment == 3%} selected{% endif %}>3</option>
        </select>
        <label for="likeWeight">like</label>
        <select id="likeWeight" name="likeWeight" class="form-control">
          <option{% if weights.like == 1%} selected{% endif %}>1</option>
          <option{% if weights.like == 2%} selected{% endif %}>2</option>
          <option{% if weights.like == 3%} selected{% endif %}>3</option>
        </select>
        <label for="commentslikeWeight">comments like</label>
        <select id="commentslikeWeight" name="commentslikeWeight" class="form-control">
          <option{% if weights.commentslike == 1%} selected{% endif %}>1</option>
          <option{% if weights.commentslike == 2%} selected{% endif %}>2</option>
          <option{% if weights.commentslike == 3%} selected{% endif %}>5</option>
        </select>
        <label for="shareWeight">share</label>
        <select id="shareWeight" name="shareWeight" class="form-control">
          <option{% if weights.share == 1%} selected{% endif %}>1</option>
          <option{% if weights.share == 2%} selected{% endif %}>2</option>
          <option{% if weights.share == 3%} selected{% endif %}>3</option>
        </select>
    </div>

  </form>


  <div class="page-header">
    <h1><img src="{{ page.picture.url }}">&nbsp;{{ page.name }}<small>&nbsp;Fanpage <a href="{{ page.link }}">{{ page.username }}</a></h1>
    <p class="lead">{{ page.about }}</p>
  </div>

  <h2>Fans: {{ page.fan_count|number_format(0, '.', ' ') }}</small></h2>

  <img src="{{ page.cover.source }}">
  {% if page.website is defined %}
    <br />
    <a href="{{ page.website }}"> {{ page.name }}'s website</a>
  {% endif %}
  <hr />

  <canvas id="myChart" width="400" height="400"></canvas>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|json_encode()|raw }},
            datasets: [
            {
                label: 'Posts',
                data: {{ posts|json_encode() }},
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1
            },
            {
                label: 'Likes',
                data: {{ likes|json_encode() }},
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            },
            {
                label: 'Comments',
                data: {{ comments|json_encode() }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                label: 'Comments likes',
                data: {{ commentslikes|json_encode() }},
                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            },
            {
                label: 'Shares',
                data: {{ shares|json_encode() }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            },
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Activity stats per user'
            },
            scales: {
                yAxes: [{
                    stacked: true,
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    stacked: true,
                    ticks: {
                        autoSkip: false,
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>

{% endblock %}
